@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
    --softRed: hsl
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

main {
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
    /* border 1px solid black; */
    max-width: 100%;
    margin: 2em auto;
}

    /* Marge du texte */
.paddingGlobal {
    padding: 0 2em;
}

.logoImg {
    max-width: 35%;
    margin-bottom: 2em;
}

.heroImg {
    max-width: 100%;
}

.heroText {
    margin: 3em 0 5em 0;
}

.heroText h1
.heroText span {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: var(--desRed);
    text-transform: center;
}

.heroText span {
    font-weight: 300;
    color: var(--desRed);
}

/* Alignement du texte */
.heroText p {
    margin-top: 1rem;
    color: var(--desRed);
    line-height: 1.7;   text-align: center;
    font-size: 0.9rem;
}

.inputBtn {
    /* border 1px solid black */
    display: flex;
    align-items: center;
    margin-top: 1rem;
}